{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h1>{{ user.username }}</h1>
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
    <p>Are you sure you want to delete your account"?</p>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-danger" value="Confirm">Confirm</button>
        <a class="btn btn-success" href="{% url 'users:update' %}" role="button">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}

